.app-hero {
  @extend %block-with-background-image;
  @include backImg("../assets/background-hero.svg", right);
  position: relative;
  padding-top: 30px;
  padding-bottom: 244px;
  color: $main-color;
  height: 800px;
}

.app-hero__background {
  .app-hero__background--star-shining,
  .app-hero__background--star-moving {
    position: absolute;
    width: 100%;
    height: 800px;
    object-fit: none;
    object-position: right;
    top: 0;
    right: 0;
    z-index: $top-layer-index;
    opacity: 0.99;
  }

}

.app-hero__main-header {
  margin-top: 173px;

  h1 {
    margin: 13px 0 42px;
  }

  h3 {
    color: $white-cloudy;
  }
}

.app-hero__main-logo-container {
  position: relative;
  width: $image-size;
  height: $image-size;
  margin: 0 auto;
  z-index: $modal-index;
}

.app-hero__main-logo {
  width: 63px;
  cursor: pointer;
}

